:root {
  --primary-color: #f5f5f5;
  --secondary-color: #000000;
  --tertiary-color: #220c32;
  --alt-color: #14dff6;
  --alt-color2: #d9d9d9;
  --alt-color3: #0f1432;
}

.cart-page h3 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}
.headline,.prod-details{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.img-details{
    display: flex;
    justify-content: space-around;
}
.summary{
    display: grid;
    justify-content: right;
}
.total-amount {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-right: 30px;
}
.total-amount p{
    padding: 20px;
}
.summary p {
padding: 20px ;
}
.summary button {
    width: 80%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--alt-color);
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.summary button:hover {
    background-color: var(--alt-color2);
}

.counter button {
    margin: 10px;
    width: 20px;
    height: 20px;
    border: none;
    font-weight: 900;
}
.counter span {
    font-weight: 900;
    font-size: 15px;
}

.imgop {
    background-color: red;
    width: 80px;
    height: 100px;
    border-radius: 15px;
    margin: 10px;
}