:root {
  --primary-color: #f5f5f5;
  --secondary-color: #000000;
  --tertiary-color: #220c32;
  --alt-color: #14dff6;
  --alt-color2: #d9d9d9;
}
.hero-section {
  padding-top: 50px;
  height: 100vh;
  width: 100%;
}
.hero {
  display: flex;
}
.hero-title {
  width: 50%;
  height: 100vh;
  background: var(--tertiary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 20px;

  color: var(--primary-color);
}
.hero-title h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
.hero-title p {
  font-size: 20px;
  font-weight: 100;
}

.hero-btn button {
  height: 50px;
  width: 250px;
  display: grid;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--alt-color);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.hero-btn button:hover {
  background-color: var(--alt-color2);
  transition: all 0.3s ease-in-out;
}
.hero-img {
  /* background: url(../../assets/Hero.jpeg) center no-repeat;
  background-size: cover; */
  background: url(../../assets/Hero.jpeg);
  /* background: red; */
  width: 50%;
  height: 100vh;
}
/*Media query break points
  /* 2xl */
  @media (max-width: 1536px) {
  }
  
  /* xl */
  @media (max-width: 1280px) {
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .hero-title {
      padding-left: 0px;
    }


    .hero-img {
      background-size: cover;
      background: url(../../assets/Hero.jpeg) ;
      width: 50%;
      height: 100vh;
    }

    .hero-btn button{
      width: 100px;
      font-size: 13px;
    }
    .hero-title h1 {
      font-size: 26px;
      margin-bottom: 20px;
    }
    .hero-title p {
      font-size: 10px;
      font-weight: 100;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
  }
  
  /* sm */
  @media (max-width: 640px) {
  }
  
  /* xs */
  @media (max-width: 475px) {
  }
  