:root {
  --primary-color: #f5f5f5;
  --secondary-color: #000000;
  --tertiary-color: #220c32;
  --alt-color: #14dff6;
  --alt-color2: #d9d9d9;
  --alt-color3: #0f1432;
}
.search-bar {
  display: flex;
  
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.search-bar input {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  outline: none;
  padding: 0 10px;
  font-size: 10px;
}
.search-bar button {
  width: 60px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
  font-size: 10px;
  background-color: var(--alt-color2);
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
  margin: 10px;
}

.types-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: var(--alt-color2);
}
.type-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 15px;
  padding: 0 10px;
}
.type-link.active {
  background-color: #333;
  color: #fff;
  text-decoration: underline; 
}

.banner-shop {

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  
  
}

.card-banner {
  align-self: center;
  display: inline-flex;
  justify-items: center;
  place-items: center;
  align-items: center;
  width: 90%;
  height: 200px;
  background-color: var(--alt-color3);
  border-radius: 15px;
  /* margin-top: 30px; */
  margin-bottom: 30px;

}

.ban-img {
  background: url(../../assets/products_banner.jpeg) no-repeat ;
  background-size: cover;
  background-position: center;
  
  height: 200px;
  width: 200px;
  border-radius: 15px;
}
.det {
  width: 60%;
}
.det h2{
  text-align: center;
  color: var(--primary-color);
  font-size: 30px;
}

.det p {
  text-align: center;
  color: var(--primary-color);
  font-size: 20px;
}
